.banner-new {
    /* background-image:; */
    height: 100vh;
    background-size: cover;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url('../../public/images/banner/banner3.jpg');
   
}

.maindiv {
    padding-top: 17%;
    /* padding-bottom: 5%; */
    color: white;
}

.banner-small-image img {
    transition: all 0.5s ease-in-out;
}

.banner-small-image img:hover {
    scale: 1.1;
}

.maindiv h1,
.maindiv p {
    color: white;
    width: 60%;
}

.maindiv p {
    line-height: 24px;
}

.maindiv h6,
.maindiv h4 {
    color: white;
}

.bannergrid {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 20px 0px;
}

.grid-item {
    display: flex;
    gap: 2px;

}

.grid-item h6 {
    color: white;
    font-size: 18px;
    height: 70px;
    /* margin: 20px; */
    padding-right: 10px;
}

.grid-item p {
    color: white;
    font-size: 12px;
    line-height: 21px;


}

.grid-item img {
    max-width: 100px;
    max-height: 75px;
    min-height: 75px;
}

.divider-new {
    margin: 30px 0px;
    width: 100%;
    height: 1px;
    background-color: white;
}

/* .bg-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url('../images/newsection/post7-copyright.jpg') !important;
}

.bg-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url('../images/newsection/post9-copyright.jpg') !important;
}

.bg-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url('../images/newsection/post16-copyright.jpg') !important;
}

.bg-4 {

    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url('../images/newsection/post17-copyright.jpg') !important;
} */

.third-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    background-size: cover;
    filter: brightness(0.8);

    overflow: hidden;
    /* Ensure the overlay stays within the parent */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease;
    filter: brightness(0.8);
    opacity: 0;
    /* Start with hidden overlay */
}

.box1,
.box2,
.box3,
.box4 {

    height: 506px;
    border-right: 1px solid white;
    background-color: transparent;
    z-index: 1;
    /* Ensure boxes are above the overlay */
    transition: all 1s ease-in-out;
}

/* .box-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url('../images/newsection/post7-copyright.jpg');
}

.box-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url('../images/newsection/post9-copyright.jpg');
}

.box-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url('../images/newsection/post16-copyright.jpg');
}

.box-4 {

    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%), url('../images/newsection/post17-copyright.jpg');
} */


.inner-box {
    margin-top: 70%;
    color: white;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.inner-box button {
    border: 1px solid white;
    font-size: 12px;
    color: white;

    font-weight: 500;
    display: inline-block;
    /* line-height: 20px!important; */
    padding: 7px 11px;
    margin-right: 16px;
    letter-spacing: 0.3px;
}


.inner-box h3,
.inner-box span {
    color: white;
}

.inner-box span {
    font-size: 14px;
}

.inner-box h3 {
    height: 128px;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
}

/* box1  */
.box1:hover .dark-tag-category-blue{
    background-color: var(--blue-color-dark);
    color: black;
    border: none;

}
.box1:hover .dark-tag-category-green{
    background-color: var(--green-color-dark);
    color: black;
    border: none;
}

.box1:hover .dark-tag-category-red{
    background-color: var(--red-color-dark);
    color: black;
    border: none;
}

.box1:hover .dark-tag-category-orange{
    background-color: var(--orange-color-dark);
    color: black;
    border: none;
}

.box1:hover .dark-tag-category-yellow{
    background-color: var(--yellow-color-dark);
    color: black;
    border: none;
}

/* box2  */
.box2:hover .dark-tag-category-blue{
    background-color: var(--blue-color-dark);
    color: black;
    border: none;

}
.box2:hover .dark-tag-category-green{
    background-color: var(--green-color-dark);
    color: black;
    border: none;
}

.box2:hover .dark-tag-category-red{
    background-color: var(--red-color-dark);
    color: black;
    border: none;
}

.box2:hover .dark-tag-category-orange{
    background-color: var(--orange-color-dark);
    color: black;
    border: none;
}

.box2:hover .dark-tag-category-yellow{
    background-color: var(--yellow-color-dark);
    color: black;
    border: none;
}

/* box3 */
.box3:hover .dark-tag-category-blue{
    background-color: var(--blue-color-dark);
    color: black;
    border: none;

}
.box3:hover .dark-tag-category-green{
    background-color: var(--green-color-dark);
    color: black;
    border: none;
}

.box3:hover .dark-tag-category-red{
    background-color: var(--red-color-dark);
    color: black;
    border: none;
}

.box3:hover .dark-tag-category-orange{
    background-color: var(--orange-color-dark);
    color: black;
    border: none;
}

.box3:hover .dark-tag-category-yellow{
    background-color: var(--yellow-color-dark);
    color: black;
    border: none;
}

/* box4 */


.box4:hover .dark-tag-category-blue{
    background-color: var(--blue-color-dark);
    color: black;
    border: none;

}
.box4:hover .dark-tag-category-green{
    background-color: var(--green-color-dark);
    color: black;
    border: none;
}

.box4:hover .dark-tag-category-red{
    background-color: var(--red-color-dark);
    color: black;
    border: none;
}

.box4:hover .dark-tag-category-orange{
    background-color: var(--orange-color-dark);
    color: black;
    border: none;
}

.box4:hover .dark-tag-category-yellow{
    background-color: var(--yellow-color-dark);
    color: black;
    border: none;
}











.arrow {
    /* visibility: hidden; */
    display: none;

}

.box1:hover .arrow {
    /* visibility: visible; */
    display: block;
}

.box2:hover .arrow {
    /* visibility: visible; */
    display: block;
}

.box3:hover .arrow {
    /* visibility: visible; */
    display: block;
}

.box4:hover .arrow {
    /* visibility: visible; */
    display: block;
}

.box1:hover .inner-box {
    transform: translateY(-20%);
}

.box2:hover .inner-box {
    transform: translateY(-20%);
}

.box3:hover .inner-box {
    transform: translateY(-20%);
}

.box4:hover .inner-box {
    transform: translateY(-20%);
}


.line-effect {
    position: relative;
    width: max-content;
    /* Needed for positioning the ::before pseudo-element */
}

.line-effect::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f6f5f5;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

/* Apply the line effect on hover */
.line-effect:hover::before {
    transform: scaleX(1);
}

.partners {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;

}

.partners figure {
    margin: 10px;
}

.section-partners {
    padding-bottom: 100px;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: white;
    font-size: 24px;
    padding: 60px 0px 30px 0px;
}

.normal-divider {
    margin-inline: 10%;
    width: 80%;
    height: 0.5px;
    background-color: #ffffff54;

}

/* .footer-section-new{
    padding: 100px 0px;
} */


.nav-links {
    display: flex;
    justify-content: center;
    /* gap: 40px; */
    margin: 30px 0px;
}

.nav-links a {
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
}


.nav-links-1 {
    display: flex;
    justify-content: center;
    /* gap: 40px; */
    margin: 30px 0px;
}

.nav-links-1 a {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
    padding: 0 30px;
}

.border-right {
    border-right: 1px solid white !important;
}

.footer-last {
    padding: 30px 0px 60px 0px;
}

.footer-last p {
    text-align: center;
}


.nav-menu li {
    font-family: var(--dl-short-description);
}

.pt50{
    padding-top: 50px;
}
.pb50{
    padding-bottom: 50px;
}
.mt10{
    margin-top: 10px;
}
.author-dark{
    color:white;

}

.author-dark:hover{
    color: white !important;
}




@media (max-width:900px){
    .nav-links a {
       
        font-size: 15px;
        text-align: center;
        padding: 0 12px;
    }
    .nav-links-1 a {
       
        font-size: 15px;
        text-align: center;
        padding: 0 12px;
    }

}

@media (max-width:450px){
    p{
        font-size: 16px;
    }
    .nav-links{
        flex-direction: column;
    }
    .nav-links-1{
        flex-direction: column;
    }
    .border-right {
        border-right: 0px solid white !important;
    }
}








/* Desktop */
.grid-item {
    display: flex;
    justify-content: space-between;
}


/* Tab */
@media screen and (min-device-width: 482px) and (max-device-width: 901px) {


    .banner-new {
        height: auto;
        padding-bottom: 10px;
    }
    .maindiv h1{
        font-size: 32px;
        line-height: 1.4;
        width: 100%;
    }
    .maindiv p{
        line-height: 1.4;
        font-size: 22px;
        width: 100%;
    }
    .bannergrid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-item h6 {
        font-size: 18px;
        height: auto;
    }

    .third-section {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-section {
        height: auto;
    }
    .partners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


}





/* Mobile */
@media screen and (max-width: 481px) {

    .banner-new {
        height: auto;
        padding-bottom: 10px;
    }
    .maindiv h1{
        font-size: 32px;
        line-height: 1.4;
        width: 100%;
    }
    .maindiv p{
        line-height: 1.4;
        font-size: 22px;
        width: 100%;
    }
    .bannergrid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid-item h6 {
        font-size: 18px;
        height: auto;
    }

    .third-section {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-section {
        height: auto;
    }
    .partners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}