.search-heading{
    margin: 30px 0px ;
    
}
.search-card {
    padding: 50px 0px 100px 0px;
}
.search-card article{
    height: 380px;
    max-height: max-content;
}

.h405-d{
    height: 405px;
    max-height: max-content;

}
.post-layout-item .post-meta li a {
    margin-top: 10px;
 
}