@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
hr{
  border:1px solid;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.color-line-b {
  border-top: 1px solid var(--blue-color);
  border-bottom: 1px solid var(--blue-color);
}

.color-line-r {
  border-top: 1px solid var(--red-color);
  border-bottom: 1px solid var(--red-color);

}

.color-line-y {
  border-top: 1px solid var(--yellow-color);
  border-bottom: 1px solid var(--yellow-color);
}

.color-line-g {
  border-top: 1px solid var(--green-color);
  border-bottom: 1px solid var(--green-color);
}

.color-line-o {
  border-top: 1px solid var(--orange-color);
  border-bottom: 1px solid var(--orange-color);
}


.post-title-single , h1{
  font-size: 42px !important;
  line-height: 52px !important;
  font-weight: 600 !important;
  letter-spacing: 0;

  /* text-transform: capitalize; */
}
 .single-post-content h2 {
  font-size: 24px;
  line-height: 42px;
  letter-spacing: 0px;
  font-weight: 600 !important;
}
.single-post-content h3 {
  font-size: 22px!important;
  line-height: 40px!important;
  letter-spacing: 0px!important;
  font-weight: 600 !important;
}
.single-post-content h4{
  font-size: 22px!important;
  line-height: 38px!important;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0px!important;
  font-weight: 600 !important;
}
.single-post-content h5{
  font-size: 20px!important;
  line-height: 30px!important;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0px!important;
  font-weight: 600!important;
}

.single-post-content h6{
  width: 100%;
color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    font-style: italic;

    /* padding:0px 10px 10px 0px ; */
    line-height: 18px;
}

.single-post-content h6 a{

  font-family: "Quicksand", sans-serif!important;
}
.entry-header {
  margin-bottom: 0px;
}

.main-header-wapper .site-logo {
  max-width: 250px;
  padding-top: 0px;
  /* margin-top: -45px; */
}

.main-header-wapper .site-logo .image-paragraph img{
 width: max-content!important;
 height: 29.44px !important;
 margin: 10px 0 0 0 !important;
}
.main-header-wapper .site-logo .image-paragraph {
  width: 100% !important;
}

.top-author {
  display: flex;
  padding: 10px 0px;
  margin: 20px 0px;
gap: 10px;
  justify-content: space-between;
}

.social-share a{
  height: 32px!important;
}

.top-author div {
  color: black;
  font-weight: 500;
  /* display: grid;
  place-items: center; */
}

.top-author .audio {
  display: flex;
  gap: 10px;
}
.single-post-content a{
  position: relative;
  text-decoration: underline;
  font-family: "Lora", serif !important;
  z-index: 10000;
}
.single-post-content a:hover{
  color: blue;
  text-decoration: none;
}
.disclaimer-container a{
  text-decoration: underline;
  font-family: "Lora", serif!important;
}

.disclaimer-container a:hover{
  color: blue;
  text-decoration: none;
}
audio::-webkit-media-controls-mute-button {
  background-color: #b5b8ba;
  border-radius: 50%;
}
audio{
  width: 100%;
}
.audio1 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.audio1 span {
  width: max-content;
  font-weight: 600;
}

/* .audio1 audio {
  width: 84%;
} */

video {
    width: 100%;
    height: auto;
}

.image-parent{
  display: flex !important;
  justify-content: center;
  gap: 20px;
}
.image-paragraph {
  display: inline-block;
  position: relative;
  text-align: left;

}
.caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
bottom:0;
  left: 0;
  width: 100%;
color:white;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  font-style: italic;


  line-height: 18px;
}

.image-paragraph:hover .caption{
  opacity: 0;
  transition: opacity 1s ease-in-out;
}




.has-caption {
  margin-bottom: 100px; /* Margin for parent divs with captions */
}
/* .caption {

  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  font-style: italic;

  margin: 10px 0px 10px 0px;
  line-height: 18px;

} */

.divider-single {
  border-bottom: 1px solid var(--yellow-color);
}

.single-post-content p {
  font-family: var(--dl-short-description);
  font-size: 18px !important;
  color: var(--dl-heading-color);
  margin-bottom: 0;

  /* display: flex; */

  /* gap: 20px; */

  font-weight: 500 !important;
}

.tags{
  margin:50px 0px;
}
.tags a{
  margin: 5px 5px;
}
.tags a:hover{
  color: white !important;
}
/* p>*:only-child {

  width: 100%;

} */

/* p>* {
  width: 100%;
} */

p:has(a) {
  display: block !important;

}

p:has(em) {
  display: block !important;

}


p:has(strong) {
  display: block !important;

}
.single-post-content a:hover{
  color:var(--category-color)!important;
}

.ytp-cued-thumbnail-overlay-image {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: contain!important;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}



/* .single-post-content p .image-paragraph {

bottom: 0;
display: flex;
flex-direction: column;

margin-inline: auto;

} */


.grid-image {
  display: flex;
  gap: 20px;

}
#republish-btn{
max-height: 30px;
}
img {
  /* width: 100%;
  height: 100%; */
  /* width: max-content; */
  /* height: max-content; */
  max-width: 100%;
  height: auto;
  /* object-fit: fill; */
  object-fit: contain;
  object-position: bottom!important;

  border-radius: 0px;
}

blockquote {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: 600;
  /* padding: 0px 50px 30px 50px !important; */
  padding: 30px 100px 30px 100px !important;
  margin: 30px 0px 0px 0px !important;
/*
  border-top: 2px solid var(--yellow-color);
  border-bottom: 2px solid var(--yellow-color); */
  background-color: white !important;
  position: relative;

}

blockquote p ,blockquote span{
  font-family: "Quicksand", sans-serif !important;
}

blockquote::before {
  content: "\201C";
  position: absolute;
  top: 40px;
  left: 20px;
  width: 100%;
  text-align: left;
  height: 100%;
  font-size: 100px;
  color: var(--category-color);
  z-index: 999;
}

blockquote::after {
  content: "\201D";
  position: absolute;
  /* top: 60px; */
  right: 20px;
  width: 100%;
  text-align: right;
  height: 100%;
  font-size: 100px;
  color: var(--category-color);
  z-index: 999;
}

/* green */
.blockquote-g {
  /* border-top: 2px solid var(--green-color);
  border-bottom: 2px solid var(--green-color); */
}

.blockquote-g::after {
  color: var(--green-color);
}

.blockquote-g::before {
  color: var(--green-color);
}

/* blue */
.blockquote-b {
  /* border-top: 2px solid var(--blue-color);
  border-bottom: 2px solid var(--blue-color); */
}

.blockquote-b::after {
  color: var(--blue-color);
}

.blockquote-b::before {
  color: var(--blue-color);
}

/* red */
.blockquote-r {
  /* border-top: 2px solid var(--red-color);
  border-bottom: 2px solid var(--red-color); */
}

.blockquote-r::after {
  color: var(--red-color);
}

.blockquote-r::before {
  color: var(--red-color);
}

/* yellow */

.blockquote-y {
  /* border-top: 2px solid var(--yellow-color);
  border-bottom: 2px solid var(--yellow-color); */
}

.blockquote-y::after {
  color: var(--yellow-color);
}

.blockquote-y::before {
  color: var(--yellow-color);
}

/* orange */

.blockquote-o {
  /* border-top: 2px solid var(--orange-color);
  border-bottom: 2px solid var(--orange-color); */
}

.blockquote-o::after {
  color: var(--orange-color);
}

.blockquote-o::before {
  color: var(--orange-color);
}



iframe {
  width: 100%;
  max-height: 900px;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}




/* republish  */
.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgb(0, 0, 0);
  /* Black background with opacity */
  padding-top: 40px;
}

.modal-content {
  background-color: #000000;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #000000;
  width: 80%;
  color: #fcfcfc;
  /* Text color black */
  position: relative;
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  word-wrap: break-word;
}

.modal-content div {
  padding: 0px 0px 30px 0px;
}

.close {
  color: #aaa;

  font-size: 38px;
  font-weight: bold;
  position: fixed;
  top: 10%;
  right: 10%;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

#copy-btn {
  margin-top: 10px;
  background-color: #f4f4f4;
  color: rgb(0, 0, 0);
  padding: 10px 0px;
  /* width: max-content; */
  width: 500px;
  text-align: center;
  position: fixed;
  bottom: 25px;
}

.modal-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #CCCCCC;
}

.modal-content::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #FFF;
  background-image: -webkit-linear-gradient(90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 25%,
      transparent 100%,
      rgba(0, 0, 0, 1) 75%,
      transparent)
}

#brand-img-container img{
  width: 300px!important;
  height: 200px!important;
  object-fit: contain;

}
#fr-img-container img{
  width: 300px!important;
  height: 200px!important;
  object-fit: contain;
}

.language {
  position: relative;
  max-height: 30px;
  width: max-content;
  margin: 0px !important;
}

.language ul {
  display: none;
  z-index: 1;
  position: absolute;
  background: white;
  padding: 10px;
  margin: 10px 0px 0px -16px;
  /* border: 1px solid; */
  box-shadow: var(--dl-box-shadow);
}

.language ul li {
  font-size: 14px !important;
  font-weight: 500;
  height: 28px ;
  max-height: 30px;
  line-height: 14px;
  text-align: center;
  padding: 7px 11px 7px 11px;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid;
  font-family: 'open sans';

  width: max-content;
}

.language:hover ul {
  display: block;

}
.language ul li:hover {
  border: 1px solid;
}
.disclaimer {
  /* border-top: 3px solid black!important; */
  margin: 50px 0px 0px 0px;
}

.disclaimer-container {
  padding: 3% 20% 0% 20% ;

}

.disclaimer-container p {
  font-size: 17px;
  font-family: var(--dl-short-description);
  font-weight: 500;
}

.disclaimer-container p em{
  font-size: 17px;
  font-weight: 400;
}

.single-category-section {
  display: flex;
  justify-content: space-between;
}

.single-category-section a {
  margin: 0px;
}

/* shivam changes  */
.h0 .image-paragraph {
  width: 130px;
}
.brand_image {
  max-width: 100%;
  max-height: 40px;
  height: 30px;
  width: auto;
  border-radius: 0%;
  object-fit: contain;
}

.dlex10 {
  display: flex;
  gap: 10px;
}
.dlex10 li{
  margin-top: 10px;
  padding-top: 7px;
}

.h0 {
  height: 0px;
  display: flex;
  align-items: center;
}

.h0 .image-paragraph .caption {
  display: none;
}

.h0 .image-paragraph .caption {
  display: none;
}
/* .ho .image-paragraph img{
  width: 100%;
  height: 100%;
} */


@media (max-width:1080px){
  .brand_image {
    width: 100px!important;
    height: 30px;

}
}

/* Mobile */
@media screen and (max-width: 481px) {

  .brand_image {

    margin-top: 21px;
    height: 30px;
}
    iframe {
    width: 100%!important;
    /* height: 250px; */
}
  blockquote {
   text-align: left;
    padding: 40px 50px 40px 50px !important;

}
blockquote::after {

  right: 0px;

}
blockquote::before {

  left: 0px;

}
  .main-header-wapper .site-logo .image-paragraph img {
    width: 200 !important;
    height: 23.55px !important;
    margin: 10px 0 0 0 !important;
}
.dlex10 li .image-paragraph{
    margin-top: -21px;
}

  .single-category-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .top-author {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .single-post-content p {
    padding-top: 0px !important;
    word-break: break-word;
  }

  .post-title-single {
    font-size: 35px !important;
    line-height: 45px !important;
  }
  .d-flex{
      flex-direction:column;
  }
  .image-parent {

    flex-direction: column;

}
.disclaimer-container br{
    display:block!important;
}
.language {
  width: max-content;
}
.disclaimer-container {
  padding: 3% 10% 0% 10% !important;
}
}

