:root {
    --single-page-padding: 0% 20%;
}

@media (max-width:900px) {
    :root {
        --single-page-padding: 0% 10%;
    }
}

@media (max-width:450px) {
    :root {
        --single-page-padding: 0% 5%;
    }
}

.common-padding {
    padding: var(--single-page-padding);
}

/* .single-new-post-content section {
    margin: 0px 0px 15px 0px;
} */

#form_1 {
    margin-top: 0px !important;
    /* margin-bottom: 0px !important; */
}

.editor_bg,
.editor_table,
.editor,
.tags,
.image_section3,
.image_section2,
.image_section1,
.image_with_text_left,
.image_with_text_right,.accordion_section,
.swiper-container,
.audio,
.embed_section,
.video {
    padding: var(--single-page-padding);
}
.single-new-post-content p {
    padding-top: 0px !important;
    word-break: break-word;
    margin-top: 20px!important;
  }
.single-new-post-content h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 600 !important;
  }
  .single-new-post-content h3 {
    margin-top: 20px;
    font-size: 22px!important;
    line-height: 30px!important;
    letter-spacing: 0px!important;
    font-weight: 600 !important;
  }
  .single-new-post-content h4{
    margin-top: 20px;
    font-size: 22px!important;
    line-height: 38px!important;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0px!important;
    font-weight: 600 !important;
  }
  .single-new-post-content h5{
    margin-top: 20px;
    font-size: 20px!important;
    line-height: 30px!important;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0px!important;
    font-weight: 600!important;
  }
  
  .single-new-post-content h6{
    margin-top: 20px;
    width: 100%;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    font-style: italic;
    /* padding:0px 10px 10px 0px ; */
    line-height: 18px;
  }
  
  .single-new-post-content h6 a{
  
    font-family: "Quicksand", sans-serif!important;
  }
  .single-new-post-content a{
    position: relative;
    text-decoration: underline;
    font-family: "Lora", serif !important;
    z-index: 10000;
  }
  .single-new-post-content a:hover{
    color:var(--category-color)!important;
    text-decoration: none;
  }
 
  .single-new-post-content p {
    font-family: var(--dl-short-description);
    font-size: 18px !important;
    /* color: var(--dl-heading-color); */
    margin-bottom: 0;
  
    /* display: flex; */
  
    /* gap: 20px; */
  
    font-weight: 500 !important;
  }
  
  .single-new-post-content .image_wrapper  p {
    
    font-size: 14px !important;
   
  }
  .tags a {
    font-family: "Helvetica Neue" !important;
    font-weight: 500 !important;
    color: var(--dl-heading-color);
}
.editor_bg {
    padding-top: 10px;
    padding-bottom: 30px;
}
/*  */
.image_section1 {
    width: 100%;
    margin:0px 0px 0px 0px;
}
.image_section1 .image_wrapper{
    text-align: center;
}
.image_section2,
.image_section3 {
    margin:0px 0px 0px 0px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.image_section2 .image_wrapper img {
    max-height: 400px;
}
.image_section3 .image_wrapper img {
    max-height: 100%;
}
.image_section1  .image_wrapper img {
    width: 100%;
}
.image_wrapper {
    position: relative;

}


/* .fullscreen_section{
    height: 600px;

}
.fullscreen_section .image_wrapper img{
    width: 100%;
    height: auto;
} */

.image_wrapper .caption {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 14px!important;
    font-weight: 600 !important;
    text-align: left;
    font-style: italic;
    line-height: 18px;
    padding: 10px;
    padding-top: 10px !important;
}

.image_wrapper:hover .caption {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.image_with_text_left {
    margin:0px 0px 0px 0px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image_with_text_left div,
.image_with_text_right div {
    width: 48%;
    /* max-height: 300px !important; */

}

.image_with_text_right {
    margin:0px 0px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 40px;
    /* column-gap:20px; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.image_with_text_right .image_wrapper,
.image_with_text_left .image_wrapper {
    /* width: 48%; */
    max-height: 400px;
    /* overflow: auto; */
}

@media (max-width:992px){

.image_with_text_left div,
.image_with_text_right div {
    width: 100%;
    /* max-height: 300px !important; */

}
.image_with_text_right, .image_with_text_left {
   flex-direction: column;
}

.image_with_text_left .image_wrapper , .image_with_text_right .image_wrapper{
  text-align: center;
}

}
@media (min-width:1000px) and (max-width:1200px){
    .image_with_text_left blockquote , .image_with_text_right blockquote{
      
        padding: 30px 50px 30px 50px !important;
        margin: 0px 0px 0px 0px !important;
  
      
      }
}


.image_with_text_right .image_with_content,
.image_with_text_left .image_with_content {

    text-align: left;

}


.accordion_section>ul {
    margin:15px 0px 5px 0px;
    list-style: none;
    padding: 0;
}

.accordion_section>ul>li>.inner>ul{
    list-style: disc;
    padding-left: 2rem;
}

.accordion_section ul .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--category-color);
}

.accordion_section ul li {
    margin: 0.5em 0;
}

.accordion_section ul li a.toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--category-color);
    font-size: 19px;
    font-weight: 700;
    font-family: "Lora", serif!important;
    color: #fefefe;
    padding: 0.75em;
    border-radius: 0.15em;
    transition: background 0.3s ease;
    text-decoration: none;
}
/* .single-new-container a{
    font-family: "Lora", serif !important;
} */

.accordion_section ul li a.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
}

.accordion_section ul li a.toggle .toggle-icon {
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
}


/* Slider Css */
.swiper-wrapper{
    align-items:center;
}
.swiper-slide {
    margin:0px 0px 5px 0px;
    /* min-height: 400px !important; */
    /* height: 400px !important; */
}

.swiper-slide {
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.swiper-slide.swiper-slide-active {
    opacity: 1;
    z-index: 1;
    text-align: center;
}

.swiper-slide.swiper-slide-active>img{
    /* object-fit: contain; */
    object-fit: fill;
    height: auto !important;
}

.swiper-button-next, .swiper-button-prev {
    position: relative;
    margin-top: -35%;
}
.swiper-button-next {
    float: right;
    margin-right: -5%;
}
.swiper-button-prev {
    float: left;
    margin-left: -5%;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    background-color: #fff0;
    color: #000;
}
.fullscreen_section{
    margin:0px 0px 0px 0px;
    /* display: flex; */
    justify-content: center;
}

.fullscreen_section>.video_wrapper,
.fullscreen_section>.embed_wrapper{
    width: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
   display: none!important;
}
.single-page .editor_bg a{
    color: var(--category-color)!important;
}


.editor_table{
    overflow-x: auto;
    padding: 0px;
    margin: 0px 20%;
}

.editor_table table{
    max-width: 100% !important;
}

.editor_table table tr td a{
    color: blue;
}


@media (max-width:450px){
    .image_section2,
.image_section3 {
  flex-direction: column;
}
}
.single-new-post-content ul{
    list-style: disc;
    padding-left: 36px;
    padding-top: 10px;
    font-family: "Lora", serif !important;
    font-size: 18px !important;
    font-weight: 500;
}
 .accordion_section ul {
    list-style: none !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}
