.short-line {
  position: relative;
  text-align: center;
  font-size: 42px !important;
  text-transform: uppercase;

  /* width: fit-content; */
}

.short-line::after {
  content: "";
  /* width: 100%; */
  height: .1em;
  /* background-color: var(--c-title-underline-color); */
  background: rgb(9, 9, 9);
  width: 100px;

  position: absolute;
  bottom: -15px;
  left: 47%;

}

.heading-div {
  margin: 35px 0px;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin: 30px 0px;

}

.box1,.box2,.box3
{
  height: max-content;
  padding: 30px;
  box-shadow: var(--dl-box-shadow);
}
 h5{
  text-align: left;
  /* padding: 10px 20px 0px 20px; */
  font-size: 19px!important;
  font-weight: 500;
  line-height: 1.5;
}
.contact_inner_box {
 
  margin-top: 30px;

  display: flex;
 gap: 20px;
 flex-wrap: wrap;

}
.contact_inner_box div{
  align-content: center;
}
.contact-grid div h6{
  font-size: 16px;
  margin-bottom: 0px;
}


.contact-grid div h6 a{
  font-size: 16px;
  font-weight: 700;
  margin-top: -5px;

}

.contact-grid div img {
  width: 70px;
  height: 70px;
  
  /* margin-top: 100px; */
}


.bodysec{
  column-gap: 30px;
  row-gap: 48px;
  margin-top: -65px;
}



/* Tab */
@media screen and (min-device-width: 482px) and (max-device-width: 901px) {

  .contact-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 100px 0px;
  }

  .bodysec {
    display: grid !important;
    justify-content: center !important;
    grid-template-columns: repeat(4, 1fr) !important;
  }

}





/* Mobile */
@media screen and (max-width: 481px) {
  .contact_inner_box {
    flex-direction: column;
}
  .contact-grid {
    display: grid;
    grid-template-columns: none;
    gap: 20px;
    margin: 0px 0px 30px 0px;
  }

  .bodysec {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .timezone-label {
    width: 70% !important;
  }

  .short-line {

    font-size: 32px !important;

  }
  .short-line::after {
   
    left: 36%;
}

}










.bodysec {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  padding: 0px 10%;
}

.containersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.clock {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  position: relative;
}

.hand {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: bottom;
  background-color: #000;
  border-radius: 10px;
}

.hour {
  width: 1px;
  height: 28px;
  transform: translateX(-50%) rotate(90deg);
}

.minute {
  width: 0.5px;
  height: 40px;
  transform: translateX(-50%) rotate(90deg);
}

.second {
  width: 0.4px;
  height: 45px;
  background-color: #0800ff;
  transform: translateX(-50%) rotate(90deg);
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}

.number {
  position: absolute;
  font-size: 6px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  color: #333;
}

.number-1 {
  left: 72%;
  top: 11%;
}

.number-2 {
  left: 90%;
  top: 30%;
}

.number-3 {
  left: 95%;
  top: 50%;
}

.number-4 {
  left: 90%;
  top: 72%;
}

.number-5 {
  left: 72%;
  top: 89%;
}

.number-6 {
  left: 50%;
  top: 95%;
}

.number-7 {
  left: 26%;
  top: 89%;
}

.number-8 {
  left: 9%;
  top: 72%;
}

.number-9 {
  left: 5%;
  top: 50%;
}

.number-10 {
  left: 12%;
  top: 29%;
}

.number-11 {
  left: 27%;
  top: 11%;
}

.number-12 {
  left: 50%;
  top: 5%;
}

.timezone-label {
  margin-top: 10px;
  font-size: 11px;
  width: 70%;
  text-align: center;
  line-height: 1.2;
  border: 1px solid;
}

.digital-clock {
  width: 35%;
  font-size: 11px;
  display: contents;
  text-align: center;
  line-height: 15px;
  justify-content: center;
}