/* @keyframes backgroundClipFill {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: 0 0;
    }
} */
.box-with-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: changeBackground 5s;
}

@keyframes changeBackground {

    0% {
        background-color: white;

        height: 0%;

    }

    100% {
        background-color: red;

        height: 100%;

    }
}

/* .animated-text {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 44px;
  }
  
  .animated-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    background-color: transparent;
    transition: width 3s, height 3s, background-color 3s;
    z-index:-1;
  }
  
  .animated-text.animate::before {
    width: 100%;
    height: 100%;
    background-color: #ff0000;
   
  } */
.animated-text {
    position: relative;
    display: inline-block;
    color: black;
    font-size: 44px;
    transition: color 3s 1s;
    /* Add 1s delay for text color transition */
}

.animated-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    background-color: transparent;
    transition: width 3s, height 3s, background-color 3s;
    z-index: -1;
}

.animated-text.animate::before {
    width: 100%;
    height: 100%;
    background-color: #ff0000;
}

.animated-text.animate {
    color: white;
    /* Change text color when animate class is added */
}

.member {
    display: flex;
    gap: 40px;
}

/* .member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
} */

.partner-left {
    display: flex;
    gap: 20px;

}

.partner-right {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;


}

/* .partner-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.partner-left .partner-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.partner-right .partner-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.partner-image img {
    width: auto !important;
    height: auto !important;
}

.partner-detail {
    width: 50%;
    padding: 5% 0%;

}


.left .detail,
.right .detail {
    margin-left: 10px;
}

.member .left-member {
    width: 55%;
}

.member .right-member {
    width: 40%;

}

.member .right-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.short-line {
    position: relative;
    text-align: center;
    font-size: 34px !important;
    line-height: 65px !important;
    text-transform: uppercase;
}

.short-line::after {
    content: "";
    height: .1em;
    background: rgb(9, 9, 9);
    width: 100px;
    position: absolute;
    bottom: -35px;
    left: 47%;
}

.short-line-left {
    text-align: left;
}
.short-line-left::after {
    left: 1%;
}


/* .box-with-text {
    position: relative;
    display: inline-block;
    color: transparent;

}

.box-with-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--c-title-fill-color, #ff0000), var(--c-title-fill-color, #ff0000)) no-repeat;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: backgroundClipFill 3s ease-in-out forwards infinite;
} */

.heading-div {
    margin: 75px 0px;
}

.content p {
    padding: 40px 0px 0px 0px;
}

.partners-logos {
    /* display: grid;
    grid-template-columns: repeat(4,1fr)!important;
    gap: 20px;
    margin: 30px 0px; */

    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    column-gap: 75px;
    row-gap: 40px;
}
.our-partner-container{
    margin: 50px auto;

}
.partner-detail a{
    color: blue;
    text-decoration: underline;
}
.partners-logos img {
    height: 135px;
}

.grid-member {
    display: flex;
    gap: 20px;
    margin: 30px 0px;
    justify-content: center;

}

.grid-member .left,
.grid-member .right {
    width: 50%;
}

.left,
.right {
    box-shadow: var(--dl-box-shadow);
    padding: 30px;
}

.left h3,
.right h3 {
    position: relative;
    font-size: 25px;


}

.left h3::after,
.right h3::after {
    content: "";
    /* width: 100%; */
    height: .1em;
    /* background-color: var(--c-title-underline-color); */
    background: rgb(9, 9, 9);
    width: 100px;

    position: absolute;
    bottom: -10px;
    left: 0%;
}

figure {
    margin: 0px;
}

.grid-member p {
    padding: 0px;
}

.left ul li,
.right ul li {
    list-style: disc;
}

.left ul,
.right ul {
    padding: 20px 20px;
}

@media (max-width:1400px) {

    .short-line {

        font-size: 31px !important;
        line-height: 65px !important;

    }

    .animated-text {

        font-size: 40px;

    }
}

@media (max-width:1080px) {
    .partners-logos {

        grid-template-columns: repeat(3, 1fr) !important;

    }

    .short-line {
        font-size: 31px !important;
        line-height: 57px !important;
    }

    .short-line::after {

        left: 31%;
    }
}

@media (max-width:450px) {
    .partners-logos {
        justify-content: center;

    }

    .grid-member {
        flex-direction: column;
    }

    .grid-member .left,
    .grid-member .right {
        width: 100%;
    }

    .member {
        flex-direction: column;
        gap: 0;
    }

    .member .left-member,
    .member .right-member {
        width: 100%;

    }

    .short-line {

        font-size: 32px !important;

    }

    .short-line::after {
        left: 30%;
    }

    .partner-left {
        flex-direction: column;

    }

    .partner-right {

        flex-direction: column;

    }

    .partner-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .partner-detail {
        width: 100%;
        padding: 5% 0%;

    }
}

@media (min-width:1081px) and (max-width:1199px) {
    .animated-text {
        font-size: 36px;
    }

    .short-line {
        font-size: 28px !important;
        line-height: 65px !important;
    }
}


.map-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-image img{
    width: 100%;
    height: auto;
    object-fit: contain;

}