.short-line{
    position: relative;
    text-align: left;
    font-size: 42px!important;
text-transform: uppercase;

}
.short-line::after {
    content: "";
    /* width: 100%; */
    height: .1em; 
    /* background-color: var(--c-title-underline-color); */
    background: rgb(9, 9, 9);
    width: 100px;

    position: absolute;
    bottom: -15px;
   left: 0%;
    
  }

  .heading-div{
    margin: 35px 0px;
  }

  .press{
    display:flex ;
    
  }
  .press .left , .press .right{
   width: 50%;
   text-align: left!important;
   padding: 20px 0px;
  }
  .press .right{
   display: flex;
   align-items: center;
   justify-content: left;
   
  }
  .press .right p{
    padding-left: 19%;
  }
  .articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 100px;

  }
  .article{
    box-shadow: var(--dl-box-shadow);
    /* padding: 10px 10px 20px 10px; */
    padding: 25px;

  }

  .article h2{
    font-size: 25px;
    line-height: 32px;
    padding-top: 20px;

  }

  .article .quoteicon{
   height: 30px;
   width: 30px;
   margin: 20px 0px;
  }

  .read-article{
    background-color: white;
    border: 1px solid black;
   font-size: 14px;
   padding: 7px 11px;
   font-family: "Open Sans", sans-serif;

  }

  .read-article:hover{
    background-color: black;
    color: white;
  }




.press-thumbnail{
  width: 100% !important;
  height: 200px !important;
  /* max-height: 300px !important; */
}
.pressec>h2>p{
    font-family: "Open Sans", sans-serif !important;
    font-size: 25px !important;
    line-height: 35px !important;
    color: var(--dl-heading-color);
    margin: 0 0 10px;
    font-weight: 600;
    letter-spacing: -1px;
}

.color-line-press{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}


.li-icon-press, .tw-icon-press, .fb-icon-press, .wh-icon-press, .in-icon-press{
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  line-height: 1;
  padding: 7px 11px;
  /* border-radius: 10px;
  margin-right: 16px; */
  letter-spacing: 0.3px;
  border: 1px solid black;
  background-color: white;
}

.li-icon-press:hover{
  background-color: #0a66c2;
  color: #fff;
  border: none;
}

.tw-icon-press:hover{
  background-color:#1d9bf0;
  color: #fff;
  border: none;
}

.fb-icon-press:hover{
  background-color: #0866ff;
  color: #fff;
  border: none;
}

.wh-icon-press:hover{
  background-color: #26ca43;
  color: #fff;
  border: none;
}

.in-icon-press:hover{
  background-color: crimson;
  color: #fff;
  border: none;
}

.dflexgap4{
  gap: 4px !important;
}

.btn-view{
  background: #337ab7;
  color: #fff;
}

/* .press-title-h2{
  height: 180px;
} */
.press-title-body{
  height: 280px;
}
@media (max-width:850px){
.press .section-heading h2{
    font-size: 30px;
    line-height: 35px;
}

.article h2 {
    font-size: 20px;
    line-height: 30px;
}
.articles {
   
    gap: 10px;
  
}
.press .right p{
  padding-left: 0%;
}

  }

  @media(max-width:450px){

.press{
    flex-direction: column;
}
.press .left , .press .right{
    width: 100%;
    padding: 0px;
}
.press .right p{
  padding-left: 0%;
}
.articles{
margin-top: 20px;
    grid-template-columns: repeat(1,1fr);
}

  }